<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Danh sách - OGANI</title>
<head th:replace="./user-layout :: html_head">
</head>

<body>
    <th:block th:replace="./user-layout :: header"> </th:block>
     <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center row">
                    <div class="col-md-10">
                        <div class="row p-2 bg-white border rounded" th:each="book: ${books}">
                            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image "
                                    src="../image/nhung ngoi sao xa xoi_bia.u335.d20160803.t155556.276062.jpg"
                                    style="width: 130px; height: 150px;"></div>
                            <div class="col-md-6 mt-1">
                                <h5 th:text="${book.name}"></h5>
                                <h6 th:text="${book.author}"></h6>
                                <h6 th:text="${book.description}"></h6>
                                <h6>Số lượng: <span class="text-danger" th:text=${book.quantity}></span></h6>
                            </div>
                            
                            <div class="align-items-center align-content-center col-md-3 border-left mt-1">
                                <div class="d-flex flex-row align-items-center">
                                    <h4 class="mr-1">$ <span th:text="${book.price}"></span></h4>
                                </div>
                       
                                <div class="d-flex flex-column mt-4">
                                    <a class="btn btn-info btn-sm" style="color: white;" th:href="@{/books/} + ${book.id}"> Chi
                                        tiết</a>
                                    
                                    	<a th:href="@{'/cart/add?bookId=' + ${book.id} + '&quantity=1' }"  class="btn btn-outline-success btn-sm mt-2 add-to-cart-btn"><i
                                            class="fas fa-plus"></i> Thêm vào giỏ hàng</a>
                          
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>	
    <th:block th:replace="./user-layout :: footer"> </th:block>
</body>
 <th:block th:replace="./user-layout :: script"></th:block>
</html>