<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Chi tiết - OGANI</title>
<head th:replace="./admin-layout :: html_head">
</head>

<body>
    <th:block th:replace="./admin-layout :: header"> </th:block>
      <div>
        <div class="container " style="margin-top:52px">
            <p>
                <span><a href="./index.html"> Trang chủ </a><i class="fas fa-angle-right"></i></span>
                <span><a href="./genres.html"> Thể loại </a><i class="fas fa-angle-right"></i></span>
                <span><a> Thông tin chi tiết </a></span>
            </p>
            <div style="margin-bottom: 20px">
                <a class="btn btn-outline-warning" th:href="@{/admin/genres/update/} + ${genre.id}"><i class="fas fa-plus-circle"></i> Cập
                    nhật</a>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>ID: <span th:text="${genre.id}"></span></p>
                    <P>Tên thể loại: <span th:text="${genre.name}"></span></P>
                    <p>Trạng thái: <span th:if="${genre.enabled}">
									Kích hoạt
								</span> 
								<span th:unless="${genre.enabled}">
									Ngưng
								</span></p>
                    
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="./admin-layout :: footer"> </th:block>
</body>
 <th:block th:replace="./admin-layout :: script"></th:block>
  <script th:inline="javascript">
/*<![CDATA[*/
	let id = [[${genre.id}]];
	console.log(id);
/*]]>*/
</script>
</html>