<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Tùy chỉnh - OGANI</title>
<head th:replace="./admin-layout :: html_head">
</head>

<body>
    <th:block th:replace="./admin-layout :: header"> </th:block>
        <div>
        <div class="container " style="margin-top:52px">
            <p>
                <span><a th:href="@{/admin}"> Trang chủ </a><i class="fas fa-angle-right"></i></span>
                <span><a th:href="@{/admin/genres}"> Thể loại </a><i class="fas fa-angle-right"></i></span>
                <span><a> Tùy chỉnh thể loại</a></span>
            </p>
            <form role="form" th:action="@{'/admin/genres/' + ${genre.id == 0 ? 'add-genre' : 'update?id=' + genre.id}}" th:object="${genre}" method="POST" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Tên thể loại </label>
                        	<input th:field="*{name}" type="text" class="form-control" placeholder="Nhập tên thể loại" th:value="${genre.name}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox" name="enabled" th:checked="*{enabled}" />
                                <label class="form-check-label" for="exampleCheck1">Kích hoạt</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-success">Xử lí</button>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="./admin-layout :: footer"> </th:block>
</body>
 <th:block th:replace="./admin-layout :: script"></th:block>
</html>